{% extends "attendance/base.html" %}
{% block title %}Check In / Check Out{% endblock %}

{% block content %}
  <section class="card form-card">
    <h1>Staff Check In / Check Out</h1>

    <form method="post" class="simple-form">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-row">
        <label for="{{ form.staff.id_for_label }}">Staff</label>
        {{ form.staff }}
      </div>

      <div class="form-actions">
        <button class="btn" type="submit">Submit</button>
        <a class="btn btn-ghost" href="{% url 'attendance_home' %}">Cancel</a>
      </div>
    </form>
  </section>
{% endblock %}